// Expanded
@charset "UTF-8";

$mediaQuery-tb: 800px;
$mediaQuery-pc: 1000px;
@mixin font-head{
 font-size: 5rem;
 font-weight: 300;
}

@import "set/mixin";
@import "set/base";
ul{
 list-style: none;
 margin: 0;
 padding: 0;
}


/* Contents */
@import "cont/works";
@import "cont/login";

#works{
 header{
  padding: 50px 0;
  h1{
   // font-family: 'Amatic SC', cursive;
   text-align: center;
  }
  .filter{
   display: flex;
   justify-content: center;
   margin: 20px 0;
   li:not(:last-child)::after{
    content: '/';
    color: #ccc;
    padding: 0 20px;
   }
  }
 }
 .works-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  article{
   position: relative;
   width: 500px;
   .caption{
    h2{
     font-size: 1.8rem;
     text-align: left;
     margin: 0;
    }
    .tag{
     display: flex;
     font-size: 1.2rem;
    }
   }
   .image{
    img{
     display: block;
    }
   }
  }
 }
}
