html {
  box-sizing: border-box;
  color: #111;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

html::before, html::after, body::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border: solid #fff;
  border-width: 15px 0 0;
  z-index: 10;
}

html::after {
  top: auto;
  bottom: 0;
  border-width: 0 0 15px;
}

body {
  background: #f6f6f6;
  background-image: url(../imgs/bg.png);
  font-size: 1.6rem;
  letter-spacing: .1rem;
  margin: 15px;
  height: 100%;
}

body::before {
  bottom: 0;
  border-width: 0 15px 0;
  z-index: -1;
}

@media (min-width: 800px) {
  body {
    margin: 20px;
  }
}

@media (min-width: 800px) {
  html::before, html::after, body::before {
    border-width: 20px 0 0;
  }
  html::after {
    border-width: 0 0 20px;
  }
  body::before {
    border-width: 0 20px 0;
  }
}

.bk-white {
  position: relative;
  background: #fff;
  border-top: none;
  margin: 80px 0;
  padding: 20px 0 30px;
}

@media (min-width: 800px) {
  .bk-white {
    padding: 50px 0 80px;
  }
}

.bk-white::before, .bk-white::after {
  content: '';
  position: absolute;
  top: -80px;
  display: block;
  background-image: linear-gradient(to bottom right, rgba(246, 246, 246, 0), rgba(246, 246, 246, 0) 49.5%, #fff 50%, #fff);
  width: 100%;
  height: 80px;
}

.bk-white::after {
  position: absolute;
  top: auto;
  bottom: -80px;
  transform: rotate(180deg);
}

.bk-white + section {
  border-top: none;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
}

a {
  color: #111;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #888;
}

a.btn {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #111;
  padding: 10px 30px;
}

a.btn:hover {
  background: #111;
  color: #fff;
}

.txt-c {
  text-align: center;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

br.sp {
  display: inline;
}

@media (min-width: 800px) {
  br.sp {
    display: none;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover img {
  opacity: .7;
}

a img {
  transition: .3s;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 6rem;
  text-align: center;
}

body {
  font-family: -apple-system, 'BlinkMacSystemFont', Sans-Serif;
}

/* Contents */
.login_wrap {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgba(200, 200, 200, 0.3);
  max-width: 360px;
  margin: 10rem auto 0;
  padding: 20px 30px;
}

.login_wrap h1 {
  font-size: 3.6rem;
  margin: 10px 0;
}

.login_wrap button {
  display: block;
  background: #ff7f7f;
  border: none;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  width: 100%;
  height: 50px;
  margin: 50px auto 20px;
  cursor: pointer;
  transition: .3s;
}

.login_wrap button:hover {
  background: #f16272;
}

.field {
  position: relative;
  margin: 0 auto 30px;
  padding: 20px 6px 6px;
  border-bottom: 2px solid #ddd;
}

.field::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: 2px solid #ff7f7f;
  width: 0;
  transition: width 0.5s;
}

.field.focus::before {
  width: 100%;
}

.field.focus label {
  bottom: 3rem;
  color: #ccc;
  font-size: 1.2rem;
  font-weight: normal;
}

.field input {
  display: block;
  background: none;
  box-sizing: border-box;
  border: 0;
  color: #555;
  font-size: 1.8rem;
  width: 100%;
}

.field input:focus {
  outline: 0;
}

.field label {
  position: absolute;
  bottom: 0;
  left: 6px;
  color: #999;
  font-size: 1.8rem;
  font-weight: bolder;
  transition: .5s;
}

.note {
  color: #888;
  font-size: 1.2rem;
  width: 360px;
  margin: 20px auto 0;
}

.error {
  background: rgba(214, 48, 49, 0.1);
  color: #d63031;
  font-size: 1.4rem;
  text-align: center;
  padding: 10px 0;
}

#works header {
  min-height: 160px;
  padding: 80px 0 50px;
}

#works header h1 a:hover {
  color: #111;
}

#works header .filter {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

#works header .filter ul {
  display: flex;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
  margin: 50px 0 30px;
}

#works header .filter ul li {
  text-align: center;
  letter-spacing: .1rem;
  min-width: 30px;
  padding: 0 20px;
}

#works header .filter ul .active a {
  color: #666;
}

#works header .flow {
  color: #666;
  font-size: 1.4rem;
  text-align: center;
  margin: 30px 0;
}

#works header #filter-slide {
  position: absolute;
  bottom: -6px;
  left: 270px;
  width: 2rem;
  height: 2px;
  background: #bbb;
  transition: all .3s ease;
}

#works main {
  display: block;
  max-width: 1050px;
  margin: 0 auto 50px;
}

#works .works-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

#works .works-list::after {
  content: '';
  display: block;
  width: 500px;
}

#works .works-list article {
  position: relative;
  max-width: 500px;
  margin-bottom: 30px;
}

#works .works-list article .label h2 {
  font-size: 2rem;
  text-align: left;
  margin: 0;
}

#works .works-list article .image img {
  max-width: 100%;
  display: block;
}

#works .works-list .tag {
  color: #888;
  font-size: 1.2rem;
}

#works .content {
  display: flex;
  justify-content: space-between;
  font-family: 'Titillium Web', sans-serif;
}

#works .content .info {
  box-sizing: border-box;
  width: 340px;
  padding: 0 20px;
}

#works .content .info h2 {
  font-size: 3rem;
  text-align: left;
  margin: 0;
}

#works .content .info .detail {
  margin-top: 50px;
  letter-spacing: .4rem;
}

#works .content .info .detail dt {
  color: #888;
  font-size: 1.1rem;
  margin-top: 30px;
}

#works .content .info .detail dt::after {
  content: ':';
  padding-left: 6px;
}

#works .content .info .detail dd {
  font-size: 1.2rem;
  margin: 2px 0 0;
}

#works .content .info .detail dd li {
  margin-bottom: 4px;
}

#works .content .body {
  width: 680px;
  margin-bottom: 50px;
}

#works .content .body .thumb {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

#works .content .body .thumb img {
  display: block;
  width: 100%;
}

#works .content .body .capture {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

#works .content .body .capture img {
  display: block;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

#works .tag {
  display: flex;
  font-family: 'Titillium Web', sans-serif;
  color: #666;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  margin: 10px 0 6px;
}

#works .tag li:not(:last-child)::after {
  content: '/';
  padding: 0 6px;
}

#works .back {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 50px 0;
}

#works .back a {
  position: relative;
  color: #111;
  padding: 0 26px;
  transition: .3s;
}

#works .back a::before, #works .back a::after {
  content: '';
  display: inline-block;
  border: solid #aaa;
  position: absolute;
  top: 0;
  width: 8px;
  height: 100%;
}

#works .back a::before {
  left: 0;
  border-width: 1px 0 1px 1px;
}

#works .back a::after {
  right: 0;
  border-width: 1px 1px 1px 0;
}

#works .back a:hover {
  color: #666;
  padding: 0 20px;
}
